@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #393939;
  --font-openSans: "Open Sans";
  --font-outfit: "Outfit";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #393939;
  }
}

body {
  @apply font-sans;
  font-family: var(--font-openSans);
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply font-heading;
  font-family: var(--font-outfit);
}

@layer components {
  .loader {
    @apply w-12 h-12 inline-block relative;
  }
  .loader::after,
  .loader::before {
    content: "";
    @apply box-border w-12 h-12 rounded-full border-2 border-white absolute left-0 top-0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
